body {
    background-color: #f5f9f6; /* Verde claro de fondo */
}

h1 {
    color: #2d6a4f; /* Verde oscuro */
}

.table {
    border-color: #2d6a4f; /* Verde oscuro */
}

.table th {
    background-color: #40916c; /* Verde más fuerte */
}

.btn-success, .btn-warning, .btn-danger {
    border-radius: 5px;
}
    